<div class="container">
  <form class="form" role="search">
    <div class="form-group">
      <input type="text" name="nome" [(ngModel)]="nome" class="form-control" placeholder="Nome">
      <input type="text" name="texto" [(ngModel)]="texto" class="form-control" placeholder="Texto" style="margin-top: 10px;">
    </div>
    <button type="submit" class="btn btn-default" style="margin-top: -10px;" (click)="submeter(nome, texto)">Postar</button>
  </form>
</div>
