*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  #header{
    background-color: #00adef;
    height: auto;
    width: 100%;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
  }

  #divCentro{
    width: 1024px;
    margin: auto;
  }

  #divCentro img{
    display: block;
    float: left;
  }

  .form{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
  }

  .busca{
    width: 500px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
  }

  .botao{
    border: 2px #fff solid;
    outline: none;
    background-color: #00adef;
    padding: 8px;
    color: #fff;
    margin-left: -10px;
    border-radius: 5px;
    cursor: pointer;
  }

  #minhaConta{
    margin-left: 30px;
    margin-top: 5px;
    /*background-color: #888;*/
    width: 160px;
    height: 50px;
    display: inline-block;
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 15px;
  }

  #minhaConta>span{
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 25px;
    display: block;
  }
  #minhaConta>i{
    display: inline-block;
    /*background-color: #000;*/
    font-size: 35px;
    float: left;
    margin: 10px;
  }

.carrinho{
  float: right;
  margin: 10px 30px 0px 0px;
  box-sizing: border-box;
  color: #fff;
  font-size: 35px;
}

.menu{
  border-bottom: #eee 2px solid;
  padding: 15px;
}
.menu > ul{
  display: block;
  margin-left: -25px;
}
.menu>ul>li{
  display: inline-block;
  margin-left: 50px;
  font-family: Arial,sans-serif;
  font-size: 15px;
  color: #555;
}
.menu>ul>li>b{
  color: #00adef;
}
.menu>ul>li>d{
  color: red;
}


#container{
  width: 1284px;
  height: 335px;
  /*background-color: black;*/
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top:30px;
}

.slide{
  width: 100%;
  height: 100%;
  margin-left: 100%;
  position: absolute;
  -webkit-transition: margin-left 1000ms ease-in;
  -moz-transition: margin-left 1000ms ease-in;
  -o-transition: margin-left 1000ms ease-in;
  transition: margin-left 1000ms ease-in;
}
.slide.ativo{
  margin-left: 0%;
}
.img{
  width: 100%;
  height: 100%;
}

.botaoSlide{
  cursor: pointer;
  display: inline-block;
  width: 13px;
  height: 13px;
  /*padding: 10px;*/
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #eee;
}

#botoes{
  margin-left: 50%;
}

.produtos{
  width: 100%;
  height: 330px;
  margin-top: 50px;
  /*background-color: #eee;*/
}

.produto{
  width: 200px;
  height: 330px;
  /*background-color: #999;*/
  margin-left: 30px;
  position:absolute;
}
.produto img{
  width: 200px;
}
.titulo{
  font-family: Arial,sans-serif;
  font-size: 13px;
  color: #555;
}
.ofertas{
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  display: block;
  margin-top: 10px;
}
.preco{
  font-family: Arial,sans-serif;
  font-size: 25px;
  margin-top: 6px;
  display: block;
}
.divisor{
  height: 330px;
  width: 2px;
  background-color: #eee;
  position: absolute;
  /*float: left;*/
  margin-left: 250px;
}
