<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angulovers</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/linha-do-tempo/show">Linha do Tempo</a></li>
        <li routerLinkActive="active"><a routerLink="/postar/create">Postar</a></li>
      </ul>

      <div class="nomePerfil">Brendon Girão</div>
  </div>
</nav>
