<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{ post.nomePessoa }}</b> diz:
    </div>
  <div class="panel-body" >
    <div [ngClass]="classesTextoAtual">
    {{ post.texto }}
    </div>
    <input type="text" name="texto" value="{{ post.texto }}" class="form-control" [ngClass]="classes" #novoTexto>
    <button type="button" class="btn btn-default" aria-label="Left Align" [ngClass]="classes" (click)="cancelou($event)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Cancelar
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" [ngClass]="classes" (click)="salvou(post, novoTexto.value)">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Salvar
    </button>
  </div>
  <div class="panel-footer">
  <button type="button" class="btn btn-default" aria-label="Left Align" (click)="recebeuLike(post)">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    {{ post.qtdLikes }}
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" (click)="excluiu(post)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Excluir
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" (click)="editou($event )">
    <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
    Editar
  </button>
  </div>
</div>
